@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
  font-family: "Raleway";
  box-sizing: border-box;
}

html{
	background-color: rgb(75,69,69);
	background-image: linear-gradient(to top left, #4b4545 35%, rgba(51,102,153,0.5886729692) 50%, #4b4545 65%);
	background-attachment: fixed;
	height: -webkit-fill-available;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	display: flex;
	flex-direction: column;
}

.rift-content { 
	background-color: rgba(255, 255, 255, 0.3);
	flex:1;
	padding:5px;
	padding-top: 50px;
}
