.logo {
	width: 216px;
	height: 40px;
	background-image: url("/assets/images/logo.svg");
	background-size: 108% 100%;
	background-repeat: no-repeat;
	padding-left: 5px;
}

@media only screen and (max-device-width: 480px) {
	.logo {
		width: 100px;
		left: 2px;
	}
}
