<!DOCTYPE html>
<html>
	<head>        
		<link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">

		<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl}}/assets/images/icon@16px.png" >
		<link rel="apple-touch-icon" sizes="16x16" href="{{ site.baseurl}}/assets/images/icon@16px.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl}}/assets/images/icon@32px.png">
		<link rel="apple-touch-icon" sizes="32x32" href="{{ site.baseurl}}/assets/images/icon@32px.png">
		<link rel="icon" type="image/png" sizes="48x48" href="{{ site.baseurl}}/assets/images/icon@48px.png">
		<link rel="apple-touch-icon" sizes="48x48" href="{{ site.baseurl}}/assets/images/icon@48px.png">
		<link rel="icon" type="image/png" sizes="64x64" href="{{ site.baseurl}}/assets/images/icon@64px.png">
		<link rel="apple-touch-icon" sizes="64x64" href="{{ site.baseurl}}/assets/images/icon@64px.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl}}/assets/images/icon@96px.png">
		<link rel="apple-touch-icon" sizes="96x96" href="{{ site.baseurl}}/assets/images/icon@96px.png">
		<link rel="icon" type="image/png" sizes="120x120" href="{{ site.baseurl}}/assets/images/icon@120px.png" >
		<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl}}/assets/images/icon@120px.png">
		<link rel="icon" type="image/png" sizes="144x144" href="{{ site.baseurl}}/assets/images/icon@144px.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl}}/assets/images/icon@144px.png">
		<link rel="icon" type="image/png" sizes="180x180" href="{{ site.baseurl}}/assets/images/icon@180px.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl}}/assets/images/icon@180px.png">
		<link rel="icon" type="image/png" sizes="512x512" href="{{ site.baseurl}}/assets/images/icon@512px.png">
		<link rel="apple-touch-icon" sizes="512x512" href="{{ site.baseurl}}/assets/images/icon@512px.png">
		<link rel="icon" type="image/png" sizes="1024x1024" href="{{ site.baseurl}}/assets/images/icon@1024px.png">
		<link rel="apple-touch-icon" sizes="1024x1024" href="{{ site.baseurl}}/assets/images/icon@1024px.png">

		<link rel="shortcut icon" type="image/svg+xml" href="{{ site.baseurl}}/assets/images/icon.svg">
	</head>
	<body>
		<div class="body">
			<div class="nav">
				<div id="logo"></div>
				<div id="menu">
					<a href="">Item1</a>
					<a href="">Item2</a>
				</div>
			</div>
			<div class="backdrop">
				<div id="content">
          			{{ content }}
				</div>
			</div>
			<div class="foot">
				{% include footer.html %}
			</div>
		</div>		
	</body>
</html>
