<!DOCTYPE html>
<html>
	<head>     
		{% if page.title %}
		{% capture fullTitle %}{{ site.title | default: site.github.repository_name }} - {{ page.title }}{% endcapture %}
		<title>{{ fullTitle }}</title>
		{% else %}
		<title>{{  site.title | default: site.github.repository_name }}</title>
		{% endif %}

		<link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
		<link rel="stylesheet" href="{{ "/assets/tipuesearch/css/normalize.css" | relative_url }}">
		<link rel="stylesheet" href="https://fonts.cdnfonts.com/css/gill-sans-mt-condensed" >

		{% include icons.html %}	
		
		{% if page.tipue_search_active or layout.tipue_search_active %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="{{ "/assets/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
		<link rel="stylesheet" href="{{ "/assets/tipuesearch/css/tipuesearch.css" | relative_url }}">
		<script src="{{ "/assets/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
		<script src="{{ "/assets/tipuesearch/tipuesearch.min.js" | relative_url }}"></script>
		{% endif %}
	</head>
	<body>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<section class="rift-top-bar">
			<a href="/">{% include header_logo.html %}</div></a>
			<nav class="rift-nav">
				<input id="rift-menu-toggle" type="checkbox" />
				<label class='rift-nav-menu-button-container' for="rift-menu-toggle">
				<div class='rift-nav-menu-button'></div>
				</label>
				<ul class="rift-nav-menu">
					<li><a href="/">Home</a></li>
					{% for item in site.menu %}
					<li><a href="{{item.url}}">{{item.title}}</a></li>
					{% endfor %}
					<li><a href="/search/">Search</a></li>
				</ul>
			</nav>
		</section>
		<section class="rift-content">
			{{ content }}
		</section>
		<section class="rift-footer">
			{% include footer.html %}
		</section>
	</body>
</html>
